profiles {

	docker {
		docker.enabled = true		
		process {
			withLabel: RGI{
				container = 'finlaymaguire/rgi:latest'
			}
			withLabel: MOB{
				container = 'kbessonov/mob_suite:3.0.3'
			}
		}
	}

	conda {
		conda.enabled = true
		conda.useMamba = true
		process {
			withLabel: RGI{
				conda = 'bioconda::rgi'
			}
			withLabel: MOB{
				conda = 'bioconda::mob_suite=3.1.4
			}
		}
	}
}
